html {
   font-size: 62.5%;
}

body{
   background: hsl(257, 40%, 49%)  url(../images/bg-desktop.svg) center center no-repeat;
   background-size:cover;
   min-height: 100vh;
   font-family: 'Open Sans', sans-serif;
   color: #fff;
   
}

.header img {
   width: 200px;
   margin: 55px;
}

.hero{
   display: flex;
   align-items: center;
}

.hero .image{
   content: url(../images/illustration-mockups.svg);
   width: 100%;
   margin-left: 110px;
}

.description {
   display: flex;
   flex-direction: column;
   margin: 0 25px;
}

.description h1{
  font-weight: 600;
  font-size: 3rem;
}

.description p{
   margin: 30px 0; 
   font-weight: 400;
   font-size: 1.6rem;
}

.btn a{
   background-color: #fff;
   color: hsl(257, 40%, 49%) ;
   font-size: 2rem;
   padding: 13px 50px;
   border-radius: 50px;
   transition: 0.3s ease-in-out;
}

.btn a:hover{
   background-color: hsl(300, 69%, 71%);
   cursor: pointer;
   color: hsl(0, 0%, 100%);
}

.footer {
   display: flex;
   justify-content: flex-end;
}

.footer ul{
   display: flex;
   justify-content: flex-end;  
}

.footer ul li{
   padding: 30px;
   font-size: 2.5rem; 
}

.footer ul li a{
   border: 2px solid #fff; 
   border-radius: 50%;
   width: 45px; 
   height: 45px; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer a:hover {
   border: 2px solid hsl(300, 69%, 71%);
   color: hsl(300, 69%, 71%);
   cursor: pointer;
}